# Byte-compiled / distribution
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# virtualenv
venv/
env/
.venv/
ENV/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# env files
.env
.env.*

# logs
*.log

# Large media / transcripts
audio/
video/
transcripts/
transcripts_json/
output_chunks.json

# Editors
.vscode/
.idea/
